include: 'https://gitlab.gnome.org/GNOME/citemplates/raw/master/flatpak/flatpak_ci_initiative.yml'

variables:
    BUNDLE: "gnome-2048-dev.flatpak"

flatpak:
    variables:
        MANIFEST_PATH: "flatpak/org.gnome.TwentyFortyEightDevel.json"
        FLATPAK_MODULE: "gnome-2048"
        RUNTIME_REPO: "https://sdk.gnome.org/gnome-nightly.flatpakrepo"
        APP_ID: "org.gnome.TwentyFortyEight"
    extends: .flatpak

nightly:
    extends: '.publish_nightly'
    dependencies: ['flatpak']
    needs: ['flatpak']
